<%= render :partial => 'shared/logout' %>

<h2>Secret Show Page</h2>
<%= link_to "Back to all secrets", secrets_path %>
<p><strong><%= @secret.title %></strong></p>
<p><%= @secret.content %></p><br>
<p> <%= image_tag @secret.attachment.url(:large) %> </p>
